####################################
# Global configuration for pipEdit #
####################################
#
#
# target is used in *.par files to have multiple configurations for 
# multiple compilers
#
target=GNUCOBOL
###target=MICROFOCUS
#
# Where are the macros located the edtior can use?
#
macros=/home/joerg/C/pipEdit/macros
#
#
# language overwrites the environment variable $LANG
# This can be used for language files for the editor, macros and so on.
# If left blank, $LANG is used, if $LANG isn't defined "en" is used.
# default means, no file is read, the default values of the editor
# are used.
#
language=default
###language=
#
# various translations of textes and messages
#
langfiles=/home/joerg/C/pipEdit/langfiles
